body {
	font-family: verdana;
}

/* --- Top container of the game --- */
#game {
	background-color: #a8e743;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	display: grid;
	grid-template-columns: minmax(auto, 600px) 120px;
	grid-template-rows: 80px 30px auto;

	transition: background-color 0.5s;
}
#game.lost {
	background-color: #ff9595;
}

h1 {
	grid-column: 1;
	grid-row: 1;
	margin-left: 20px;
}

#time {
	grid-column: 1;
	grid-row: 1;

	text-align: right;
	font-size: 3em;
	margin: 3px;
	margin-top: 10px;
}

#browser-window {
	display: block:
	grid-column: 1;
	grid-row: 3;

	margin: 5px;
	background-color: white;
	border: 1px solid #777;

	display: flex;
	flex-direction: column;
}

#browser-top-bar {
	flex: 0;
	min-height: 30px;
	display: block;

	background-color: #c5c5c5;
	border: 1px solid #333;

	display: flex;
	flex-direction: row;
}
#browser-top-bar img {
	flex: 0;
	align-self: center;
	cursor: pointer;
}
#browser-top-bar img:hover {
	opacity: 0.8;
}
#browser-top-bar img:active {
	opacity: 0.5;
}
#browser-top-bar input {
	flex: 1;
}

#browser {
	position: relative;
	flex: 1;

	border: 1px solid #777;

	display: flex;
	flex-direction: column;

	max-height: 480px;
}

#browser-window {
	flex: 1;
	max-height: 514px;
}

#browser-content {
	position: relative;
	max-height: 480px;
}

.element {
	position: absolute;
	width: 33%;
	background: #ddd;
	text-align: center;
	height: 80px;

	cursor: move; /** fallback **/
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
.element.paragraph {
	font-size: 14px;
}

#toolbar {
	grid-column: 2;
	grid-row: 3;

	display: block;
	background-color: #ffffff;
	border-radius: 10px;
	margin: 5px;
	padding: 10px;
	transition: background-color 0.5s;

	max-height: 492px;
}
#toolbar .title {
	font-size: 11px;
	line-height: 12px;
	margin-bottom: 2px;
	text-align: center;
	font-weight: bold;
}
#game.lost #toolbar {
	background-color: #ffb3b3;
}

#score {
	grid-column: 1;
	grid-row: 2;
	text-align: center;
	line-height: 30px;
	margin: 5px;:
}

.tbox-element {
	display: block;
	margin-bottom: 6px;
	width: 85px;
	height: 85px;
	border: 1px solid #33e;
	background: #eee;
	font-size: 13px;
	padding: 2px;
}
.tbox-element:not(#tool-paragraph) {
	text-align: center;
}
.tbox-element img {
	margin-top: 3px;
}
.tbox-element.empty {
	opacity: 0.7;
	background-color: #999;
	border: 1px solid #999;
}
.tbox-element.empty img {
	opacity: 0.3;
}
.tbox-element:not(.empty) {
	cursor: move; /** fallback **/
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}


/* -- users -- */
#browser-users {
	position: absolute;
	top: 0;
	left 0;
}
.cursor {
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url('../images/cursor.png');
	background-size: cover;
}
.cursor.red {
	background-image: url('../images/cursor-red.png');
}
.cursor.yellow {
	background-image: url('../images/cursor-yellow.png');
}
.cursor.blue {
	background-image: url('../images/cursor-blue.png');
}
.cursor.dissolve {
	opacity: 1.0;
	transform: scale(5.0);

	-webkit-animation: flash linear 0.7s infinite;
	animation: flash linear 0.7s infinite;
}

@-webkit-keyframes flash {
	0% { opacity: 1; } 
	40% { opacity: .1; } 
	60% { opacity: .1; }
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	40% { opacity: .1; } 
	60% { opacity: .1; }
	100% { opacity: 1; }
}

